*{
    margin: 0;
}
.media{
    display: flex;
    flex-direction: column;
    width:200px;
    padding: 5px;
    margin: 5px 0;
    border-radius: 10px;
    position:relative;
   background-color: #95D1CC;
   height:390px;
   
}

.media:hover{
    background-color: aliceblue;
    color:black;
}
@media (max-width:550px){
    .media{
        width:50%;
        height:95%;
        margin-bottom: 20px;
        margin:auto;
    }
}
.poster{
    border-radius: 10px;
}
.title{
    width:100%;
    text-align: center;
    font-size: 15px;
    padding: 8px 0;
}
.major{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    margin:0 4px;
}
.trend{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


